* {
    margin: 0;
    padding: 0;
    font-family: 'Tilt Neon', cursive;
    
}

body {
    background: rgb(255,247,121);
    background: linear-gradient(0deg, rgba(255,247,121,1) 0%, rgba(241,201,116,1) 100%);
    background-size: 100% 100vh;
    background-repeat: no-repeat;
}

.header {   
    display: inline; 
    text-align: center;
    padding: 10vh;
    font-size: 40px;
    background-color: transparent;
}
.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 15vh;
    font-size: 30px;
    gap: 100px;
    background-color: transparent;
}
img {
    width: 450px;
    height:  250px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 0 15px rgb(0, 0, 0);
}
.item{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 400px;
    text-align: center;
}

.item img:hover {
    transform: scale(1.1);
    transition: .1s ease;
    border-radius: 20px;
    box-shadow: 0 0 15px rgb(0, 0, 0);
}


